.root {
      -fx-background-color:black;
}

.border-pane {
      -fx-background-image: url(/main/view/icons/background.png);
      -fx-background-position: center;
      -fx-background-size: cover;  
}

#titolo {
      -fx-font-size: 60px;
      -fx-text-fill: white;
}

#inserisciPassword {
      -fx-font-size: 30px;
      -fx-text-fill: #ef0303;
}

.text-field {
      -fx-font-size: 30px;
}

.label {
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.exceptionLabel {
    -fx-text-fill: red;
}

.glyph {
    -fx-font-family: "FontAwesome";
    -fx-font-size: 50px;
    -fx-text-fill: black;
}
