.root {
    -fx-background-color:black;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-pannable: true;
}

.border-pane {
    -fx-background-image: url(/main/view/icons/background.png);
    -fx-background-position: center;
    -fx-background-size: cover;
}