.root {
    -fx-background-color:black;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-pannable: true;
}

.border-pane {
    -fx-background-image: url(/main/view/icons/background.png);
    -fx-background-position: center;
    -fx-background-size: cover;
}

.v-box {
    -fx-alignment: center;
    -fx-fill-width: false;
}

.h-box {
      -fx-alignment: center;
      -fx-spacing: 600;
}

#titolo {
    -fx-font-size: 60px;
    -fx-cursor: default;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-stroke: red;
    -fx-stroke-width: 2px;
    -fx-stroke-type: centered;
    -fx-stroke-line-join: round;
}

#sottotitolo {
    -fx-font-size: 30px;
    -fx-cursor: default;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-stroke: red;
    -fx-stroke-width: 1px;
    -fx-stroke-type: centered;
    -fx-stroke-line-join: round;
}

.label {
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-content-display: "TOP";
    -fx-graphic-text-gap: 50;
}

.link: hover {
    -fx-cursor: hand;
    -fx-background-color: grey;
    -fx-background-radius: 20;
}